$WhiteColor:#FAF8F6;
$CreamColor: #F3EDE7;
$GreyBlueColor:#49566D;
$DarkBlueColor:#172339;
$PurpleColor:#A060FF;
$PinkColor:#CB30E3;
$OrangeColor:#FFA84E;

//ui

$background-body:$WhiteColor;
$background-footer:$CreamColor;
$background-card-dark:$DarkBlueColor;


$color-h1:$DarkBlueColor;
$color-par-light:$CreamColor;
$color-par-dark:$DarkBlueColor;

//mixins

@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: space-between;
}