@import 'variables';

.button-nav {
    border-radius: 6px;
    border: 1px solid #172339;
    background-color: transparent;
    padding: 1.2rem 1.6rem;
    color:$DarkBlueColor;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -0.14px;
    line-height: 2.4rem;
    cursor: pointer;
    transition: 0.75s;
}

.button-nav:hover, .button-nav:focus {
    background-color: $DarkBlueColor;
    color: $WhiteColor;
}

@media screen and (min-width:686px) {
    .button-nav {
        padding: 1.2rem 2.4rem;
        font-size: 1.6rem;
        line-height: 3.2rem;
        letter-spacing: -0.16px;
    }
}