@import 'variables';

.nav {
     @include flexCenter();
     padding-top: 2.4rem;
}

@media screen and (min-width:686px) {
     .nav {
          padding-top: 4rem;
     }
}

@media screen and (min-width:1172px) {
     .nav {
          max-width: 110rem;
          margin: auto;
          padding-top: 5rem;
     }

}