@import 'variables';

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
    padding: 5.6rem 0;

    &__item {
        text-align: center;
    }

    &__heading {
        font-size: 4.8rem;
        font-weight: 700;
        line-height: 5.6rem;
        color: $DarkBlueColor;
        margin-bottom: 0.5rem;
    }

    &__paragraph {
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2.5px;
        color: $GreyBlueColor;
    }
}