@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

html {
  font-family: 'Epilogue', sans-serif;
}

body {
  background-color: #FAF8F6;
}

main {
  position: relative;
}

@media screen and (min-width:686px) {
  main {
    padding-bottom: 380px;
  }
}

@media screen and (min-width:1172px) {
  main {
    padding-bottom: 600px;;
  }
}